Django>=4.2
djangorestframework
django-cors-headers
django-widget-tweaks
deepface>=0.0.79
opencv-python<5
Pillow
numpy
scipy
pandas
tensorflow
torch
tf-keras
mtcnn
gdown
requests
jinja2
python-dotenv
pymysql
imutils
